.toEdit-container {
	padding: 0.5rem 1rem 0.5rem 1rem;
	border-bottom: 1px solid var(--surface-400);
	text-align: center;
}
.toEdit-container img {
	width: 80%;
	height: auto;
	padding-bottom: 0.5rem;
}
.toEdit-info {
	display: flex;
	justify-content: center;
	gap: 0.5rem;
}
