.account-card {
	background: var(--surface-e);
	padding: 2rem;
	box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.02), 0px 0px 2px rgba(0, 0, 0, 0.05), 0px 1px 4px rgba(0, 0, 0, 0.08);
	border-radius: 4px;

	margin-bottom: 1.5rem;
}

.account-header {
	border-bottom: 1px solid var(--surface-400);
	margin-bottom: 2rem;
}

.account-container {
	display: grid;
	grid-template-columns: 50% auto;
}

.account-left {
	display: flex;
	flex-direction: column;
	padding: 0.5rem 3rem 0.5rem 0.5rem;
	gap: 1rem;

	.account-form-two {
		display: flex;
		flex-direction: row;
		justify-content: space-around;
	}

	div {
		display: flex;
		flex-direction: column;
		gap: 1rem;
	}
	input {
		padding: 0.75rem 0.75rem;
		border: 1px solid #ced4da;
		border-radius: 6px;
		width: 11rem;
		font-family: var(--font-family);
		font-size: 1rem;
		color: black;
	}
	label {
		font-weight: bold;
	}
	select {
		border: 1px solid #ced4da;
		border-radius: 6px;
		width: 12rem;
		padding: 0.75rem 0.75rem;
		font-family: var(--font-family);
		font-size: 1rem;
		color: var(--text-color);
	}
}

.account-right {
	display: flex;
	flex-direction: column;
	padding: 0.5rem 0.5rem 0.5rem 3rem;
	gap: 1rem;
	border-left: 1px solid var(--surface-400);

	.account-form-two {
		display: flex;
		flex-direction: row;
		justify-content: space-around;
	}
	.account-form-one {
		input {
			width: 15rem;
			color: black;
		}
	}

	div {
		display: flex;
		flex-direction: column;
		gap: 1rem;
	}
	input {
		padding: 0.75rem 0.75rem;
		border: 1px solid #ced4da;
		border-radius: 6px;
		width: 11rem;
		font-family: var(--font-family);
		font-size: 1rem;
		color: black;
	}
	label {
		font-weight: bold;
	}
}

.account-error {
	color: #f02849;
	font-size: 13px;
	line-height: 16px;
	margin-top: 0px;
	text-align: left;
	padding-bottom: 0.5rem;
}

.account-image {
	width: 275px;
	height: 275px;
	border-radius: 150px;
}

.account-address-label {
	text-align: right;
	padding-right: 3rem;

	label {
		font-weight: bold;
	}
}

.account-address-input {
	padding-left: 3rem;
	padding-bottom: 1rem;

	input {
		padding: 0.75rem 0.75rem;
		border: 1px solid #ced4da;
		border-radius: 6px;
		width: 15rem;
		font-family: var(--font-family);
		font-size: 1rem;
		color: black;
	}
}

@media screen and (max-width: 960px) {
	.form-demo .card {
		width: 80%;
	}
}
@media screen and (max-width: 640px) {
	.form-demo .card {
		width: 100%;
		min-width: 0;
	}
}
