.card {
	background: var(--surface-e);
	box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.02), 0px 0px 2px rgba(0, 0, 0, 0.05), 0px 1px 4px rgba(0, 0, 0, 0.08);
	border-radius: 4px;
}
.product-grid-item {
	text-align: center;
	font-size: 1.5rem;
	font-weight: 600;
	margin: 0.5em;
	border: 1px solid var(--surface-border);
	padding: 1.5rem;
}
.product-grid-item-top {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.product-category-icon {
	vertical-align: middle;
	margin-right: 0.5rem;
}

.product-category {
	font-weight: 600;
	vertical-align: middle;
}

.product-category-icon {
	font-family: var(--font-family);
}

.product-grid-item-content {
	text-align: center;
	img {
		width: 60%;
		box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
		margin: 2rem 0;
	}
}

.product-name {
	font-size: 1.5rem;
	font-weight: 700;
	padding: 0.5rem;
	margin: 0;
}

.product-description {
	margin: 0 0 1rem 0;
	font-size: 1.2rem;
	font-weight: 500;
}

.product-grid-item-bottom {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.product-price {
	font-size: 1rem;
	font-weight: 500;
	margin-bottom: 0.5rem;
	align-self: flex-end;
}

@media screen and (max-width: 576px) {
	.product-list-item {
		flex-direction: column;
		align-items: center;
	}

	.product-list-item img {
		width: 25%;
		margin: 2rem 0;
	}

	.product-list-item .product-list-detail {
		text-align: center;
	}

	.product-list-item .product-price {
		align-self: center;
	}

	.product-list-item .product-list-action {
		display: flex;
		flex-direction: column;
	}

	.product-list-item .product-list-action {
		margin-top: 2rem;
		flex-direction: row;
		justify-content: space-between;
		align-items: center;
		width: 100%;
	}
}
